$bg-color: #121212;
$text-color:#fff;
$primary-color:#1f78b4;
$secondary-color:#b2df8a;
$form-bg-color:#E3E0E0;
$form-text-color:$bg-color;
$error-color:#FF0000;
$secondary-title:#878787;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    //border:1px solid yellow;
}

body {
    background-color: $bg-color;
    color:$text-color;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    width: 498px;
    height: 100vh;
    margin: 0 auto;
    //box-shadow: 0px 0px 10px black;
    border:1px solid black;
    border-bottom: 0px;
    border-top: 0px;

    .logoArea{
        
        padding-top:10px;
        display: flex;
        justify-content: center;
        align-items:center;
        margin-bottom: 30px;
        p {
            font-weight: 600;
            font-size: 30px;
            color: $primary-color;
            margin-left: -10px;
        }
        img {
            width: 40px;
        }
    }

    .button{
        background-color: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 65px;
        margin: 0 auto;
        border-radius: 50px ;
        cursor: pointer;
        
        p {
            font-weight: 600;
            font-size: 26px;
            color:#fff;
            margin-left: 10px;
            transition: color 0.3s linear;
            &:hover {
                color:$secondary-color;
                transition: color .3s linear;
            }
        }
        img {
            margin-left:-5px;
        }

        &.config{
            margin-top:300px
        }
    }
    

    #TextSection{
        font-size:20px;
        font-weight: 500;
        
        #welcomeText{
            text-align: center;
            font-weight: 600;
            font-size: 26px;
        }

        #infoText {
            margin-top: 100px;
            text-align: center;
        }

        #subInfoText {
            margin-top: 50px;
            text-align: center;
        }
    }
}

.formWrapper {
    
    width: 75%;
    margin:0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .inputWrapper {
        width: 75%;
        margin-bottom:20px;
        label {
            font-size:20px;
            font-weight: 500;
            display: block;
        }
        input {
            border: 0px;
            background-color: $form-bg-color;
            color: $form-text-color;
            font-family: 'Poppins', sans-serif;
            border-radius: 30px;
            font-size:15px;
            font-weight: 500;
            padding: 10px 15px 5px 10px;
            width: 255px;
            text-align: center;
            &:focus{
                border:0px;
            }
        }
        &.age{
            margin-top: 15px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            input{
                padding: 5px 15px;
                width: 13%;
            }
        }
        &.check{
            width: fit-content;
            height:fit-content;
            display: flex;
            align-items:center;
            width: 75%;
            label {
                font-size: 15px;
                text-align: left;
                line-height: 17px;
                
            }
            .outer {
                position: relative;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                border: 2px solid $form-bg-color;
                margin-right: 10px;
                transition: all 0.5s ease;
                &:hover{
                    cursor: pointer;
                }
                z-index: 111;
            }
            .inner {
                width: 0px;
                height: 0px;
                background-color: $secondary-color;
                border-radius: 50%;
                position: absolute;
                left:50%;
                top:50%;
                transform: translateX(-50%) translateY(-50%);
                transition: all 0.1s ease;
            }
        }
    }
}

.main.home {
    height:100vh;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 498px;
    height: 10vh;
    background-color: #1f78b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        filter: invert(1);
        width: 50px;
        height: 50px;
        padding: 20px;
        &:hover{
            cursor: pointer;
        }
    }
    
}

.welcomeText {
    #user {
        font-size: 26px;
        font-weight: 600;
        text-align: center;
        padding-top: 5px;
    }
}

.gauge {
    img#gaugeSample {
        display: block;
        width: 50%;
        margin: 0 auto;
        margin-top: -20px;
    }
    .infoGauge {
        #percentage{
            font-size: 26px;
            font-weight: 600;
            display: block;
            margin: -40px auto auto auto;
            width: fit-content;
        }
        .positionInfo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 50px;
            img{
                width: 26px;
                height: 26px;
            }
            span{
                font-size: 22px;
                font-weight: 600;;
            }
        }
    }
}

.airQualityBox{
    width: 400px;
    border: 1px solid $text-color;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    padding: 15px;
    margin-top: 50px;
    .title {
        font-size: 22px;
        font-weight: 500;
        line-height: 20px;
    }
    #position{
        font-size: 18px;
        color:$secondary-title;
        margin-top: -4px;
    }
    #percentage {
        font-size: 46px;
        font-weight: bold;
    }
    #percentageDescription {
        font-size: 22px;
        font-weight: bold;
    }
    #fullDescription {
        display: block;
        color: $secondary-title;
        font-size:18px;
        margin-top: -13px;
    }
    .innerBox {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .particleInfo{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .particle {
        display: flex;
        flex-direction: column;
        align-items: center;
        #value{
            font-size:21px;
            font-weight: bold;
        }
        #index {
            margin-top: -10px;
            font-size:16px;
            color:$secondary-title;
        }
    }
}

.button.share {

    margin-top: 50px;
    width: 220px;
}

.slider{
    font-size: 26px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}

.sharingBox {
    position: absolute;
    left:50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
    background-color: $bg-color;
    border: 1px solid $text-color;
    border-radius: 30px;
    padding: 20px;
    opacity: 0;
    .formWrapper{
        width: 100%;
        .inputWrapper{
            input{
                width: fit-content;
            }
            &.check {
                width: fit-content;
            }
        }
    }
    z-index: -10;
    transition: 0.3s ease-in;
}
.blurred{
    opacity: 0;
    width: 100%;
    height: 0%;
    background:rgba($color: #000000, $alpha: 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    backdrop-filter: blur(5px);
    transition: 0.5s ease-in;
}

.adviceContainer {
    height: 73vh;
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    padding: 10px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        display: none;
    }

    .singleAdvice {
        position: relative;
        width: 340px;
        height: 125px;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 10px;
        border:1px solid $text-color;
        &:hover > img{
            filter: grayscale(0) brightness(0.8) saturate(3);
            transition: 0.5s ease;
            cursor: pointer;
        }
        &:hover > p {
            color:white;
            cursor: pointer;
        }
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 30px;
            filter: grayscale(0.3) brightness(0.5) saturate(2);
            transition: 0.5s ease;
            cursor: pointer;
        }
        p {
            position:absolute;
            text-align: center;
            color: rgba($color: #fff, $alpha:0.7px);
            font-size: 32px;
            font-weight: bold;
            text-shadow: 0px 0px 10px black;
            transition: 0.5s ease;
        }
    }
}

.logoArea.settings {
    position:absolute;
    bottom:8vh;
    left: 50%;
    transform: translateX(-50%);
}

.settingContainer{
    width: 460px;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0 auto;

    .singleSetting{
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            color:$text-color;
            font-size: 26px;
            font-weight: bold;
        }
        .toggleContainer{
            width: 50px;
            height: 20px;
            background-color:$secondary-color;
            border-radius: 30px;
            position: relative;
            padding: 10px;
            overflow: hidden;
            .toggle {
                height: 30px;
                width: 30px;
                background-color:$bg-color;
                border-radius: 50%;
                position:absolute;
                top:50%;
                left: 10%;
                transform: translateX(-10%) translateY(-50%);
                box-shadow: 2px 1px 2px rgba($color:invert($bg-color), $alpha:0.3px);
                transition: left 0.5s ease;
                &:hover{
                    cursor: pointer;
                }
            }
        }


    }

}


.errorBorder{
    border: 2px solid $error-color!important;
}


span.error {
    font-size: 17px;
    font-weight: 500;
    color: $error-color;
    display: block;
}

.connect {
    margin-top: -50px!important;
}

.slider > span:nth-child(1){
    cursor: pointer;
}


.slider > span:nth-child(3){
    cursor: pointer;
}

#close {
    color:red;
    border-radius: 50%;
    border: 2px solid red;
    width: 20px;
    height: 20px;
    position: absolute;
    top:15px;
    right:0px;
    transform: translate(-15px,0px);
    &:hover {
        cursor: pointer;
    }
    &::after{
        content: "X";
        font-size: 24px;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
    }
}


p#thx {
    color: $text-color;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

img#imgThx {
        width: 120px;
        display: block;
        margin: 10px auto 0px;
}

.adviceDetail {
    position: absolute;
    background-color:rgba($color:$bg-color, $alpha: 1);
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 79%;
    min-height: fit-content;
    max-height: 30%;
    overflow-y: scroll;
    padding:20px;
    border-radius: 30px;
    border: 1px solid $text-color;
    z-index: 111;
    &::-webkit-scrollbar {
        display: none;
      }
    p:nth-child(1) {
        margin-top: 10px;
        color: $text-color;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
    }
    p:nth-child(2){
        margin-top: 5px;
        text-align: justify;
        
    }
}