@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #000;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  width: 498px;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid black;
  border-bottom: 0px;
  border-top: 0px;
}

.main .logoArea {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.main .logoArea p {
  font-weight: 600;
  font-size: 30px;
  color: #1f78b4;
  margin-left: -10px;
}

.main .logoArea img {
  width: 40px;
}

.main .button {
  background-color: #1f78b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 65px;
  margin: 0 auto;
  border-radius: 50px;
  cursor: pointer;
}

.main .button p {
  font-weight: 600;
  font-size: 26px;
  color: #fff;
  margin-left: 10px;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.main .button p:hover {
  color: #b2df8a;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}

.main .button img {
  margin-left: -5px;
}

.main .button.config {
  margin-top: 300px;
}

.main #TextSection {
  font-size: 20px;
  font-weight: 500;
}

.main #TextSection #welcomeText {
  text-align: center;
  font-weight: 600;
  font-size: 26px;
}

.main #TextSection #infoText {
  margin-top: 100px;
  text-align: center;
}

.main #TextSection #subInfoText {
  margin-top: 50px;
  text-align: center;
}

.formWrapper {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.formWrapper .inputWrapper {
  width: 75%;
  margin-bottom: 20px;
}

.formWrapper .inputWrapper label {
  font-size: 20px;
  font-weight: 500;
  display: block;
}

.formWrapper .inputWrapper input {
  border: 0px;
  background-color: #606060;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px 5px 10px;
  width: 255px;
  text-align: center;
}

.formWrapper .inputWrapper input:focus {
  border: 0px;
}

.formWrapper .inputWrapper.age {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formWrapper .inputWrapper.age input {
  padding: 5px 15px;
  width: 13%;
}

.formWrapper .inputWrapper.check {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}

.formWrapper .inputWrapper.check label {
  font-size: 15px;
  text-align: left;
  line-height: 17px;
}

.formWrapper .inputWrapper.check .outer {
  position: relative;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #606060;
  margin-right: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.formWrapper .inputWrapper.check .outer:hover {
  cursor: pointer;
}

.formWrapper .inputWrapper.check .inner {
  width: 0px;
  height: 0px;
  background-color: #b2df8a;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.main.home {
  height: 100vh;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 498px;
  height: 10vh;
  background-color: #1f78b4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 50px;
  height: 50px;
  padding: 20px;
}

.navbar img:hover {
  cursor: pointer;
}

.welcomeText #user {
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  padding-top: 5px;
}

.gauge img#gaugeSample {
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-top: -20px;
}

.gauge .infoGauge #percentage {
  font-size: 26px;
  font-weight: 600;
  display: block;
  margin: -40px auto auto auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.gauge .infoGauge .positionInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.gauge .infoGauge .positionInfo img {
  width: 26px;
  height: 26px;
}

.gauge .infoGauge .positionInfo span {
  font-size: 22px;
  font-weight: 600;
}

.airQualityBox {
  width: 400px;
  border: 1px solid #000;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  padding: 15px;
  margin-top: 50px;
}

.airQualityBox .title {
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
}

.airQualityBox #position {
  font-size: 18px;
  color: #878787;
  margin-top: -4px;
}

.airQualityBox #percentage {
  font-size: 46px;
  font-weight: bold;
}

.airQualityBox #percentageDescription {
  font-size: 22px;
  font-weight: bold;
}

.airQualityBox #fullDescription {
  display: block;
  color: #878787;
  font-size: 18px;
  margin-top: -13px;
}

.airQualityBox .innerBox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.airQualityBox .particleInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.airQualityBox .particle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.airQualityBox .particle #value {
  font-size: 21px;
  font-weight: bold;
}

.airQualityBox .particle #index {
  margin-top: -10px;
  font-size: 16px;
  color: #878787;
}

.button.share {
  margin-top: 50px;
  width: 220px;
}

.slider {
  font-size: 26px;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
}

.sharingBox {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 300px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 20px;
  display: none;
  z-index: 101;
}

.sharingBox .formWrapper {
  width: 100%;
}

.sharingBox .formWrapper .inputWrapper input {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sharingBox .formWrapper .inputWrapper.check {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.blurred {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.adviceContainer {
  height: 73vh;
  width: 400px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  overflow-y: scroll;
}

.adviceContainer::-webkit-scrollbar {
  display: none;
}

.adviceContainer .singleAdvice {
  position: relative;
  width: 340px;
  height: 125px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  margin-top: 10px;
  border: 1px solid #000;
}

.adviceContainer .singleAdvice:hover > img {
  -webkit-filter: grayscale(0) brightness(0.8) saturate(3);
          filter: grayscale(0) brightness(0.8) saturate(3);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.adviceContainer .singleAdvice:hover > p {
  color: white;
  cursor: pointer;
}

.adviceContainer .singleAdvice img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
  -webkit-filter: grayscale(0.3) brightness(0.5) saturate(2);
          filter: grayscale(0.3) brightness(0.5) saturate(2);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.adviceContainer .singleAdvice p {
  position: absolute;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 32px;
  font-weight: bold;
  text-shadow: 0px 0px 10px black;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.logoArea.settings {
  position: absolute;
  bottom: 8vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.settingContainer {
  width: 460px;
  padding: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0 auto;
}

.settingContainer .singleSetting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.settingContainer .singleSetting p {
  color: #000;
  font-size: 26px;
  font-weight: bold;
}

.settingContainer .singleSetting .toggleContainer {
  width: 50px;
  height: 20px;
  background-color: #b2df8a;
  border-radius: 30px;
  position: relative;
  padding: 10px;
  overflow: hidden;
}

.settingContainer .singleSetting .toggleContainer .toggle {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateX(-10%) translateY(-50%);
          transform: translateX(-10%) translateY(-50%);
  -webkit-box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: left 0.5s ease;
  transition: left 0.5s ease;
}

.settingContainer .singleSetting .toggleContainer .toggle:hover {
  cursor: pointer;
}

.errorBorder {
  border: 2px solid #FF0000 !important;
}

span.error {
  font-size: 17px;
  font-weight: 500;
  color: #FF0000;
  display: block;
}

.connect {
  margin-top: -50px !important;
}
/*# sourceMappingURL=style_light.css.map */